#StudentUpdateBtn, #StudentDeleteBtn
{
    margin: 0 0.5vw;
    padding: 0.25vh 0.5vw;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

#StudentUpdateBtn:hover, #StudentDeleteBtn:hover
{
    transform: scale(1.1);
    box-shadow: none;
}

#StudentUpdateBtn
{
    background-color: greenyellow;
}

#StudentDeleteBtn
{
    background-color: salmon;
}
